<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Green-house-inventory-dataset" data-toc-modified-id="Green-house-inventory-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Green house inventory dataset</a></span></li></ul></div>

## Green house inventory dataset
Kaggle website
https://www.kaggle.com/unitednations/international-greenhouse-gas-emissions

In [5]:
GHInventory_df = pd.read_csv('../data/01_input/00_InventoryGas.csv', encoding='utf-8')
GHInventory_df.head(5)

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...

In [6]:
GHInventory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  8406 non-null   object
 1   year             8406 non-null   int64
 2   value            8406 non-null   float64
 3   category         8406 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 262.8+ KB

In [7]:
GHInventory_df['category'].value_counts()

nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent      1074
carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent     1074
greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent    1074
methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent            1074
sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent                                                    1032
hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent                                                      975
greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent                    949
perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent                                                        831
nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent                                                     248
unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent          75
Name: category, dtype: int64

In [8]:
# simplify column names
GHInventory_df['category'] = np.where(GHInventory_df['category'] == "methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent", 
    'methane_ch4', np.where(GHInventory_df['category'] == "carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent", 
    'carbon_dioxide_co2', np.where(GHInventory_df['category'] == "greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent", 
    'greenhouse_gas_ghgs', np.where(GHInventory_df['category'] == "nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent", 
    'nitrous_oxide_n2o', np.where(GHInventory_df['category'] == "sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent", 
    'sulphur_hexafluoride_sf6', np.where(GHInventory_df['category'] == "hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent", 
    'hydrofluorocarbons_hfcs', np.where(GHInventory_df['category'] == "greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent", 
    'greenhouse_gas_ghgs_indirect', np.where(GHInventory_df['category'] == "perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent", 
    'perfluorocarbons_pfcs', np.where(GHInventory_df['category'] == "nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent", 
    'nitrogen_trifluoride_nf3', np.where(GHInventory_df['category'] == "unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent", 
    'hydrofluorocarbons_hfcs', GHInventory_df['category']))))))))))

GHInventory_df

               country_or_area  year          value                 category
0                    Australia  2014  393126.946994       carbon_dioxide_co2
1                    Australia  2013  396913.936530       carbon_dioxide_co2
2                    Australia  2012  406462.847704       carbon_dioxide_co2
3                    Australia  2011  403705.528314       carbon_dioxide_co2
4                    Australia  2010  406200.993184       carbon_dioxide_co2
...                        ...   ...            ...                      ...
8401  United States of America  1994     593.222570  hydrofluorocarbons_hfcs
8402  United States of America  1993     586.939752  hydrofluorocarbons_hfcs
8403  United States of America  1992     574.414624  hydrofluorocarbons_hfcs
8404  United States of America  1991     566.900968  hydrofluorocarbons_hfcs
8405  United States of America  1990     293.205663  hydrofluorocarbons_hfcs

[8406 rows x 4 columns]

In [9]:
#add indicators as columns instead of rows
GHInventory_df = GHInventory_df.pivot_table(values='value', index=['country_or_area','year'], 
                                            columns='category').reset_index().rename_axis(None, axis=1)
GHInventory_df

,country_or_area,year,carbon_dioxide_co2,greenhouse_gas_ghgs,greenhouse_gas_ghgs_indirect,hydrofluorocarbons_hfcs,methane_ch4,nitrogen_trifluoride_nf3,nitrous_oxide_n2o,perfluorocarbons_pfcs,sulphur_hexafluoride_sf6
0,Australia,1990,2.782659e+05,4.186230e+05,4.186230e+05,1424.683520,118768.837813,NaN,15345.597858,4607.012919,211.018511
1,Australia,1991,2.797416e+05,4.186741e+05,4.186741e+05,1424.683520,117744.641814,NaN,14923.405021,4610.743294,228.944834
2,Australia,1992,2.847661e+05,4.230801e+05,4.230801e+05,1333.184000,116837.506726,NaN,15293.183355,4603.282544,246.858849
3,Australia,1993,2.891423e+05,4.237649e+05,4.237649e+05,1829.872000,113837.511923,NaN,15374.993428,3315.528376,264.759156
4,Australia,1994,2.938307e+05,4.240930e+05,4.240930e+05,1027.343549,110997.410185,NaN,15790.426852,2164.428749,282.640896
...,...,...,...,...,...,...,...,...,...,...,...
1069,United States of America,2010,5.688756e+06,6.985457e+06,6.985457e+06,74697.967512,722410.566142,562.170248,410314.239468,4536.224066,9481.913470
1070,United States of America,2011,5.559508e+06,6.865398e+06,6.865398e+06,77129.532753,717423.690199,668.931661,416521.779163,7026.626659,9990.145376
1071,United States of America,2012,5.349221e+06,6.643011e+06,6.643011e+06,77917.087563,714401.172491,631.990312,409285.583752,6054.952494,7581.757048
1072,United States of America,2013,5.502551e+06,6.799979e+06,6.799979e+06,79458.100507,721475.055605,600.342163,403349.746652,5858.174564,7229.068816
1073,United States of America,2014,5.556007e+06,6.870446e+06,6.870446e+06,83343.618286,730828.659455,490.436085,403501.457115,5582.941730,7348.782775

In [10]:
GHInventory_df['country_or_area'].value_counts()

Hungary                     25
Australia                   25
Greece                      25
Malta                       25
United States of America    25
European Union              25
Austria                     25
Denmark                     25
Romania                     25
Spain                       25
Cyprus                      25
Japan                       25
Turkey                      25
New Zealand                 25
Portugal                    25
Iceland                     25
France                      25
Switzerland                 25
Russian Federation          25
Slovenia                    25
Belgium                     25
Canada                      25
Liechtenstein               25
Lithuania                   25
Latvia                      25
Belarus                     25
Croatia                     25
Netherlands                 25
Slovakia                    25
Germany                     25
Italy                       25
Finland                     25
Czech Republic              25
Luxembourg                  25
Ukraine                     25
Norway                      25
Bulgaria                    25
Ireland                     25
Poland                      25
Sweden                      25
Estonia                     25
United Kingdom              25
Monaco                      24
Name: country_or_area, dtype: int64

In [11]:
GHInventory_df = GHInventory_df[GHInventory_df['year'] >= 2012]

In [12]:
GHInventory_df['year'].value_counts()

2013    43
2012    43
2014    42
Name: year, dtype: int64

In [13]:
GHInventory_df = GHInventory_df.rename(
    columns={"country_or_area": "Country Name",
            "year": "Year"})

In [14]:
#add country code
GHInventory_df['Country Code'] = GHInventory_df['Country Name'].apply(lambda x: do_fuzzy_search(x))
GHInventory_df

,Country Name,Year,carbon_dioxide_co2,greenhouse_gas_ghgs,greenhouse_gas_ghgs_indirect,hydrofluorocarbons_hfcs,methane_ch4,nitrogen_trifluoride_nf3,nitrous_oxide_n2o,perfluorocarbons_pfcs,sulphur_hexafluoride_sf6,Country Code
22,Australia,2012,4.064628e+05,5.373776e+05,5.373776e+05,9353.066412,100796.838744,NaN,20342.383478,294.882947,127.552168,AUS
23,Australia,2013,3.969139e+05,5.268827e+05,5.268827e+05,10034.127624,99857.204626,NaN,19756.452647,192.001236,128.944604,AUS
24,Australia,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,NaN,20084.542834,192.535991,129.605354,AUS
47,Austria,2012,6.769866e+04,7.989712e+04,7.989712e+04,1612.466143,6855.141467,8.563880,3359.690490,50.715244,311.879244,AUT
48,Austria,2013,6.795712e+04,8.004254e+04,8.004254e+04,1602.596437,6757.490404,9.752400,3361.483493,49.228990,304.869005,AUT
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,United Kingdom,2013,4.758321e+05,5.700785e+05,NaN,16177.982913,56195.511864,0.362340,21072.691247,318.738605,481.195751,GBR
1048,United Kingdom,2014,4.347946e+05,5.275008e+05,NaN,16422.556707,53890.864763,0.398574,21645.896924,278.314969,468.162418,GBR
1071,United States of America,2012,5.349221e+06,6.643011e+06,6.643011e+06,77917.087563,714401.172491,631.990312,409285.583752,6054.952494,7581.757048,USA
1072,United States of America,2013,5.502551e+06,6.799979e+06,6.799979e+06,79458.100507,721475.055605,600.342163,403349.746652,5858.174564,7229.068816,USA
1073,United States of America,2014,5.556007e+06,6.870446e+06,6.870446e+06,83343.618286,730828.659455,490.436085,403501.457115,5582.941730,7348.782775,USA

In [15]:
GHInventory_df = GHInventory_df[~GHInventory_df['Country Name'].str.contains("European Union")]

In [16]:
GHInventory_df[GHInventory_df['Country Code'].isna()]['Country Name'].value_counts()

Series([], Name: Country Name, dtype: int64)

In [17]:
#reorder columns to add prefix
Column_names = Ind + GHInventory_df.columns[~GHInventory_df.columns.isin(Ind)].tolist()
GHInventory_df = GHInventory_df[Column_names]
GHInventory_df.columns

Index(['Country Name', 'Country Code', 'Year', 'carbon_dioxide_co2',
       'greenhouse_gas_ghgs', 'greenhouse_gas_ghgs_indirect',
       'hydrofluorocarbons_hfcs', 'methane_ch4', 'nitrogen_trifluoride_nf3',
       'nitrous_oxide_n2o', 'perfluorocarbons_pfcs',
       'sulphur_hexafluoride_sf6'],
      dtype='object')

In [18]:
#rename not identification columns
newnames = "GHI_" + GHInventory_df.columns[~GHInventory_df.columns.isin(Ind)]
GHInventory_df.columns = Ind + newnames.tolist()

In [19]:
GHInventory_df

,Country Name,Country Code,Year,GHI_carbon_dioxide_co2,GHI_greenhouse_gas_ghgs,GHI_greenhouse_gas_ghgs_indirect,GHI_hydrofluorocarbons_hfcs,GHI_methane_ch4,GHI_nitrogen_trifluoride_nf3,GHI_nitrous_oxide_n2o,GHI_perfluorocarbons_pfcs,GHI_sulphur_hexafluoride_sf6
22,Australia,AUS,2012,4.064628e+05,5.373776e+05,5.373776e+05,9353.066412,100796.838744,NaN,20342.383478,294.882947,127.552168
23,Australia,AUS,2013,3.969139e+05,5.268827e+05,5.268827e+05,10034.127624,99857.204626,NaN,19756.452647,192.001236,128.944604
24,Australia,AUS,2014,3.931269e+05,5.223971e+05,5.223971e+05,10787.350138,98076.109401,NaN,20084.542834,192.535991,129.605354
47,Austria,AUT,2012,6.769866e+04,7.989712e+04,7.989712e+04,1612.466143,6855.141467,8.563880,3359.690490,50.715244,311.879244
48,Austria,AUT,2013,6.795712e+04,8.004254e+04,8.004254e+04,1602.596437,6757.490404,9.752400,3361.483493,49.228990,304.869005
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,United Kingdom,GBR,2013,4.758321e+05,5.700785e+05,NaN,16177.982913,56195.511864,0.362340,21072.691247,318.738605,481.195751
1048,United Kingdom,GBR,2014,4.347946e+05,5.275008e+05,NaN,16422.556707,53890.864763,0.398574,21645.896924,278.314969,468.162418
1071,United States of America,USA,2012,5.349221e+06,6.643011e+06,6.643011e+06,77917.087563,714401.172491,631.990312,409285.583752,6054.952494,7581.757048
1072,United States of America,USA,2013,5.502551e+06,6.799979e+06,6.799979e+06,79458.100507,721475.055605,600.342163,403349.746652,5858.174564,7229.068816
1073,United States of America,USA,2014,5.556007e+06,6.870446e+06,6.870446e+06,83343.618286,730828.659455,490.436085,403501.457115,5582.941730,7348.782775